

<div class="c-social--btn ">
    <a href="" class="btn btn--icon"><i class="icon fab fa-facebook-f"></i></a>
    <a href="" class="btn btn--icon"><i class="icon fab fa-twitter"></i></a>
    <a href="" class="btn btn--icon"><i class="icon fab fa-instagram"></i></a>
    <a href="" class="btn btn--icon"><i class="icon fab fa-linkedin-in"></i></a>
</div>
