

<header class="header container-fluid bg--color--purple">
    <div class="container">
        <main class="row justify-content-between position-relative">
            <div class="brand col-7 d-flex align-items-center">
                <a href="#" class="btn btn--reset p-2"><img src="../../../img/logo.png" alt=""></a>
            </div>
            <div class="menu col-5">
                <div class="menu__action d-lg-none text-right" id="menu-open">
                    <div class="hamburger hamburger--slider js-hamburger">
                        <div class="hamburger-box">
                            <div class="hamburger-inner"></div>
                        </div>
                    </div>
                </div>
                <ul class="menu__nav mb-sm-0 d-sm-flex justify-content-md-center justify-content-lg-end">
                    <li class="menu__item"><a href="#" class="btn btn--link text-uppercase text text--color--white active">Home</a></li>
                    <li class="menu__item"><a href="#" class="btn btn--link text-uppercase text text--color--white">work</a></li>
                    <li class="menu__item"><a href="#" class="btn btn--link text-uppercase text text--color--white">blog</a></li>
                    <li class="menu__item"><a href="#" class="btn btn--link text-uppercase text text--color--white">contact</a></li>
                </ul>
            </div>        </main>
    </div>
</header><section class="hero container-fluid d-flex align-items-center bg--color--purple">
    <main class="container">
        <div class="row">
            <h2 class="title title--hero text text--color--white">Hi there! We are the new kids on the block and we build awesome websites and mobile apps.</h2>
            <div class="actions mt-3 col-12 text-center">
                <button class="btn btn--solid btn--solid--orange text text--color--white">work with us!</button>
            </div>
        </div>
    </main>
</section><section class="s-services container-fluid bg--color--green pb-5">
    <main class="container">
        <div class="row">
            <h2 class="col-12 title title--principal text text--color--white">SERVICES WE PROVIDE</h2>
            <p class="col-12 col-lg-6 m-lg-auto text text--into text--color--white text-center">We are working with both individuals and businesses from all over the globe to create awesome websites and applications.</p>
            <div class="col-12 mt-3">
                <div class="row">
                    <div class="b-services--item col-12 col-md-6 col-lg-3 text-center mb-3">
                            <img src="../../../img/ico_flag.png" alt="">
                            <h3 class="title title--sub text text--color--white mt-3">Brand</h3>
                            <p class="text text--color--white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                    </div>                    <div class="b-services--item col-12 col-md-6 col-lg-3 text-center mb-3">
                            <img src="../../../img/ico_pencil.png" alt="">
                            <h3 class="title title--sub text text--color--white mt-3">Design</h3>
                            <p class="text text--color--white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                    </div>                    <div class="b-services--item col-12 col-md-6 col-lg-3 text-center mb-3">
                            <img src="../../../img/ico_engine.png" alt="">
                            <h3 class="title title--sub text text--color--white mt-3">development</h3>
                            <p class="text text--color--white">At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium.</p>
                    </div>                    <div class="b-services--item col-12 col-md-6 col-lg-3 text-center mb-3">
                            <img src="../../../img/ico_rocket.png" alt="">
                            <h3 class="title title--sub text text--color--white mt-3">rocket science</h3>
                            <p class="text text--color--white">Et harum quidem rerum est et expedita distinctio. Nam libero tempore.</p>
                    </div>                </div>
            </div>
        </div>
    </main>
</section><section class="s-team container-fluid bg--color--ice pb-5">
    <main class="container">
        <div class="row">
            <h2 class="col-12 title title--principal text text--color--blue_02">MEET OUR BEAUTIFUL TEAM</h2>
            <p class="col-12 text text--into text--color--blue_02 text-center">We are a small team of designers and developers, who help brands with big ideas.</p>
            <div class="col-12 mt-3">
                <div class="row">
                    <div class="b-team--item col-12 col-md-6 col-lg-3 text-center mb-5 mb-lg-2">
                            <img src="../../../img/face_1.png" alt="">
                            <h3 class="title title--sub text text--color--blue_02 mt-3">Anne hathaway</h3>
                            <h3 class="text text--color--blue_01_light mb-3">CEO / Markiting Guru</h3>
                            <p class="text text--color--blue_02 px-md-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                        <div class="c-social--btn ">
                            <a href="" class="btn btn--icon"><i class="icon fab fa-facebook-f"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-twitter"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-instagram"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-linkedin-in"></i></a>
                        </div></div>                    <div class="b-team--item col-12 col-md-6 col-lg-3 text-center mb-5 mb-lg-2">
                            <img src="../../../img/face_2.png" alt="">
                            <h3 class="title title--sub text text--color--blue_02 mt-3">kate upton</h3>
                            <h3 class="text text--color--blue_01_light mb-3">Creative Director</h3>
                            <p class="text text--color--blue_02 px-md-4">Duis aute irure dolor in in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat non diam proident.</p>
                        <div class="c-social--btn ">
                            <a href="" class="btn btn--icon"><i class="icon fab fa-facebook-f"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-twitter"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-instagram"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-linkedin-in"></i></a>
                        </div></div>                    <div class="b-team--item col-12 col-md-6 col-lg-3 text-center mb-5 mb-lg-2">
                            <img src="../../../img/face_3.png" alt="">
                            <h3 class="title title--sub text text--color--blue_02 mt-3">olivia wilde</h3>
                            <h3 class="text text--color--blue_01_light mb-3">Lead Designer</h3>
                            <p class="text text--color--blue_02 px-md-4">Nemo enim ipsam voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem nesciunt.</p>
                        <div class="c-social--btn ">
                            <a href="" class="btn btn--icon"><i class="icon fab fa-facebook-f"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-twitter"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-instagram"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-linkedin-in"></i></a>
                        </div></div>                    <div class="b-team--item col-12 col-md-6 col-lg-3 text-center mb-5 mb-lg-2">
                            <img src="../../../img/face_4.png" alt="">
                            <h3 class="title title--sub text text--color--blue_02 mt-3">ashley greene</h3>
                            <h3 class="text text--color--blue_01_light mb-3">SEO / Developer</h3>
                            <p class="text text--color--blue_02 px-md-4">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                        <div class="c-social--btn ">
                            <a href="" class="btn btn--icon"><i class="icon fab fa-facebook-f"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-twitter"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-instagram"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-linkedin-in"></i></a>
                        </div></div>                </div>
            </div>
        </div>
    </main>
</section><section class="s-skills container-fluid pb-5">
    <main class="container">
        <div class="row">
            <h2 class="col-12 title title--principal text text--color--blue_02">WE GOT SKILLS!</h2>
            <p class="col-12 col-lg-6 m-lg-auto text text--into text--color--blue_02 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="col-12 mt-3 skill-box">
                <div class="row skills-circle">
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        
                        <li data-percent="90" class="b-skill b-skill--blue">
                            <span class="bar-circle-right"></span>
                            <span class="bar-circle-left"></span>
                            <span class="bar-circle-cover"></span>
                            <b></b>
                        </li>
                            <p class="text text--color--blue_02 title title--sub">web design</p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        
                        <li data-percent="75" class="b-skill b-skill--pink">
                            <span class="bar-circle-right"></span>
                            <span class="bar-circle-left"></span>
                            <span class="bar-circle-cover"></span>
                            <b></b>
                        </li>
                            <p class="text text--color--blue_02 title title--sub">html / CSS</p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        
                        <li data-percent="70" class="b-skill b-skill--green">
                            <span class="bar-circle-right"></span>
                            <span class="bar-circle-left"></span>
                            <span class="bar-circle-cover"></span>
                            <b></b>
                        </li>
                            <p class="text text--color--blue_02 title title--sub">graphic design</p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        
                        <li data-percent="85" class="b-skill b-skill--orange">
                            <span class="bar-circle-right"></span>
                            <span class="bar-circle-left"></span>
                            <span class="bar-circle-cover"></span>
                            <b></b>
                        </li>
                            <p class="text text--color--blue_02 title title--sub">ui / ux</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section><section class="s-porfolio container-fluid bg--color--yellow pb-md-5">
    <main class="container">
        <div class="row">
            <h2 class="col-12 title title--principal text text--color--blue_02">our porfolio!</h2>
            <p class="col-12 col-lg-6 m-lg-auto  text text--into text--color--blue_02 text-center">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam</p>
            <div class="tabs w-100 mt-3">
                <div class="nav nav-tabs nav-fill justify-content-center" id="nav-tab" role="tablist">
                    <a class="btn nav-item nav-link active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">ALL</a>
                    <a class="btn nav-item nav-link" id="nav-web-tab" data-toggle="tab" href="#nav-web" role="tab" aria-controls="nav-web" aria-selected="false">WEB</a>
                    <a class="btn nav-item nav-link" id="nav-apps-tab" data-toggle="tab" href="#nav-apps" role="tab" aria-controls="nav-apps" aria-selected="false">APPS</a>
                    <a class="btn nav-item nav-link" id="nav-icons-tab" data-toggle="tab" href="#nav-icons" role="tab" aria-controls="nav-icons" aria-selected="false">ICONS</a>
                </div>
                <div class="wrapper mt-5">
                    <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
                        <div class="row no-gutters">
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_1.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_2.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_3.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_4.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-web" role="tabpanel" aria-labelledby="nav-web-tab">
                        <div class="row no-gutters">
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_1.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_2.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_3.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_4.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-apps" role="tabpanel" aria-labelledby="nav-apps-tab">
                        <div class="row no-gutters">
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_1.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_2.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_3.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_4.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-icons" role="tabpanel" aria-labelledby="nav-icons-tab">
                        <div class="row no-gutters">
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_1.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_2.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_3.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_4.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>            <div class="actions mt-3 col-12 text-center mb-5">
                <button class="btn btn--solid btn--solid--green text text--color--white">load more projects</button>
            </div>
        </div>
    </main>
</section><section class="s-aboutus container-fluid bg--color--pink pb-md-5">
    <main class="container">
        <div class="row">
            <h2 class="col-12 title title--principal text text--color--white">what people say about us!</h2>
            <p class="col-12 col-lg-6 m-lg-auto  text text--into text--color--white text-center">Our clients love us!</p>
            <div class="col-12 mt-3">
                <div class="row">
                    <div class="b-aboutus--item col-12 col-md-6 d-flex flex-wrap text-center text-lg-left mb-5">
                        <div class="col-12 col-lg-auto mb-3">
                                <img src="../../../img/circulo.png" alt="">
                        </div>
                        <div class="col-12 col-lg-8">
                                <p class="text text--color--white text--cita">“Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.”</p>
                                <h3 class="title title--sub text text--color--white text-lg-left mt-3">chanel iman</h3>
                                <p class="text text--color--yellow mb-3">CEO of Pinterest</p>
                        </div>
                    </div>                    <div class="b-aboutus--item col-12 col-md-6 d-flex flex-wrap text-center text-lg-left mb-5">
                        <div class="col-12 col-lg-auto mb-3">
                                <img src="../../../img/circulo.png" alt="">
                        </div>
                        <div class="col-12 col-lg-8">
                                <p class="text text--color--white text--cita">“Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.”</p>
                                <h3 class="title title--sub text text--color--white text-lg-left mt-3">ADRIANA LIMA</h3>
                                <p class="text text--color--yellow mb-3">CEO of Pinterest</p>
                        </div>
                    </div>                    <div class="b-aboutus--item col-12 col-md-6 d-flex flex-wrap text-center text-lg-left mb-5">
                        <div class="col-12 col-lg-auto mb-3">
                                <img src="../../../img/circulo.png" alt="">
                        </div>
                        <div class="col-12 col-lg-8">
                                <p class="text text--color--white text--cita">“Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.”</p>
                                <h3 class="title title--sub text text--color--white text-lg-left mt-3">anne hathaway</h3>
                                <p class="text text--color--yellow mb-3">CEO of Pinterest</p>
                        </div>
                    </div>                    <div class="b-aboutus--item col-12 col-md-6 d-flex flex-wrap text-center text-lg-left mb-5">
                        <div class="col-12 col-lg-auto mb-3">
                                <img src="../../../img/circulo.png" alt="">
                        </div>
                        <div class="col-12 col-lg-8">
                                <p class="text text--color--white text--cita">“Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.”</p>
                                <h3 class="title title--sub text text--color--white text-lg-left mt-3">emma stone</h3>
                                <p class="text text--color--yellow mb-3">CEO of Pinterest</p>
                        </div>
                    </div>                </div>
            </div>
        </div>
    </main>
</section><section class="s-contact container-fluid bg--color--blue_01 pb-5 ">
    <main class="container">
        <div class="row">
            <h2 class="col-12 title title--principal text text--color--white">GET IN TOUCH</h2>
            <p class="col-12 col-lg-6 m-lg-auto  text text--into text--color--white text-center">1600 Pennsylvania Ave NW, Washington, DC 20500, United States of America. Tel: (202) 456-1111</p>
            <div class="col-12 mt-3 mt-lg-5">
                <form action="" class="row">
                    <div class="form-group col-12 col-md-6">
                        <label for="" class="sr-only">Your Name</label>
                        <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label for="" class="sr-only">Your Email</label>
                        <input type="mail" class="form-control" placeholder="Your Email">
                    </div>
                    <div class="form-group col-12">
                        <label for="" class="sr-only">Your Message</label>
                        <textarea class="form-control" rows="5" placeholder="Your Message"></textarea>
                    </div>
                    <div class="actions mt-3 col-12 text-center">
                        <input type="submit" class="btn btn--solid btn--solid--blue text text--color--white" value="send message">
                    </div>
                </form>
            </div>
        </div>
    </main>
</section><footer class="s-footer container-fluid bg--color--blue_02">
    <main class="container">
        <div class="row justify-content-center py-4">
            <a href="" class="h3 btn btn--link text text--color--white">Facebook</a>
            <a href="" class="h3 btn btn--link text text--color--white">Twitter</a>
            <a href="" class="h3 btn btn--link text text--color--white">Google+</a>
            <a href="" class="h3 btn btn--link text text--color--white">Linkedin</a>
            <a href="" class="h3 btn btn--link text text--color--white">Behance</a>
            <a href="" class="h3 btn btn--link text text--color--white">Dribble</a>
            <a href="" class="h3 btn btn--link text text--color--white">Github</a>
        </div>
    </main>
</footer>
