

<div class="menu ">
    <div class="menu__action d-lg-none text-right" id="menu-open">
        <div class="hamburger hamburger--slider js-hamburger">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>
    </div>
    <ul class="menu__nav mb-sm-0 d-sm-flex justify-content-md-center justify-content-lg-end">
        <li class="menu__item"><a href="#" class="btn btn--link text-uppercase text text--color--white active">Home</a></li>
        <li class="menu__item"><a href="#" class="btn btn--link text-uppercase text text--color--white">work</a></li>
        <li class="menu__item"><a href="#" class="btn btn--link text-uppercase text text--color--white">blog</a></li>
        <li class="menu__item"><a href="#" class="btn btn--link text-uppercase text text--color--white">contact</a></li>
    </ul>
</div>
