

<section class="s-aboutus ">
    <main class="container">
        <div class="row">
            <h2 class="col-12 title title--principal text text--color--white">what people say about us!</h2>
            <p class="col-12 col-lg-6 m-lg-auto  text text--into text--color--white text-center">Our clients love us!</p>
            <div class="col-12 mt-3">
                <div class="row">
                    <div class="b-aboutus--item col-12 col-md-6 d-flex flex-wrap text-center text-lg-left mb-5">
                        <div class="col-12 col-lg-auto mb-3">
                                <img src="../../../img/circulo.png" alt="">
                        </div>
                        <div class="col-12 col-lg-8">
                                <p class="text text--color--white text--cita">“Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.”</p>
                                <h3 class="title title--sub text text--color--white text-lg-left mt-3">chanel iman</h3>
                                <p class="text text--color--yellow mb-3">CEO of Pinterest</p>
                        </div>
                    </div>                    <div class="b-aboutus--item col-12 col-md-6 d-flex flex-wrap text-center text-lg-left mb-5">
                        <div class="col-12 col-lg-auto mb-3">
                                <img src="../../../img/circulo.png" alt="">
                        </div>
                        <div class="col-12 col-lg-8">
                                <p class="text text--color--white text--cita">“Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.”</p>
                                <h3 class="title title--sub text text--color--white text-lg-left mt-3">ADRIANA LIMA</h3>
                                <p class="text text--color--yellow mb-3">CEO of Pinterest</p>
                        </div>
                    </div>                    <div class="b-aboutus--item col-12 col-md-6 d-flex flex-wrap text-center text-lg-left mb-5">
                        <div class="col-12 col-lg-auto mb-3">
                                <img src="../../../img/circulo.png" alt="">
                        </div>
                        <div class="col-12 col-lg-8">
                                <p class="text text--color--white text--cita">“Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.”</p>
                                <h3 class="title title--sub text text--color--white text-lg-left mt-3">anne hathaway</h3>
                                <p class="text text--color--yellow mb-3">CEO of Pinterest</p>
                        </div>
                    </div>                    <div class="b-aboutus--item col-12 col-md-6 d-flex flex-wrap text-center text-lg-left mb-5">
                        <div class="col-12 col-lg-auto mb-3">
                                <img src="../../../img/circulo.png" alt="">
                        </div>
                        <div class="col-12 col-lg-8">
                                <p class="text text--color--white text--cita">“Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.”</p>
                                <h3 class="title title--sub text text--color--white text-lg-left mt-3">emma stone</h3>
                                <p class="text text--color--yellow mb-3">CEO of Pinterest</p>
                        </div>
                    </div>                </div>
            </div>
        </div>
    </main>
</section>
