

<section class="s-contact ">
    <main class="container">
        <div class="row">
            <h2 class="col-12 title title--principal text text--color--white">GET IN TOUCH</h2>
            <p class="col-12 col-lg-6 m-lg-auto  text text--into text--color--white text-center">1600 Pennsylvania Ave NW, Washington, DC 20500, United States of America. Tel: (202) 456-1111</p>
            <div class="col-12 mt-3 mt-lg-5">
                <form action="" class="row">
                    <div class="form-group col-12 col-md-6">
                        <label for="" class="sr-only">Your Name</label>
                        <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label for="" class="sr-only">Your Email</label>
                        <input type="mail" class="form-control" placeholder="Your Email">
                    </div>
                    <div class="form-group col-12">
                        <label for="" class="sr-only">Your Message</label>
                        <textarea class="form-control" rows="5" placeholder="Your Message"></textarea>
                    </div>
                    <div class="actions mt-3 col-12 text-center">
                        <input type="submit" class="btn btn--solid btn--solid--blue text text--color--white" value="send message">
                    </div>
                </form>
            </div>
        </div>
    </main>
</section>
