

<section class="s-porfolio ">
    <main class="container">
        <div class="row">
            <h2 class="col-12 title title--principal text text--color--blue_02">our porfolio!</h2>
            <p class="col-12 col-lg-6 m-lg-auto  text text--into text--color--blue_02 text-center">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam</p>
            <div class="tabs w-100 mt-3">
                <div class="nav nav-tabs nav-fill justify-content-center" id="nav-tab" role="tablist">
                    <a class="btn nav-item nav-link active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">ALL</a>
                    <a class="btn nav-item nav-link" id="nav-web-tab" data-toggle="tab" href="#nav-web" role="tab" aria-controls="nav-web" aria-selected="false">WEB</a>
                    <a class="btn nav-item nav-link" id="nav-apps-tab" data-toggle="tab" href="#nav-apps" role="tab" aria-controls="nav-apps" aria-selected="false">APPS</a>
                    <a class="btn nav-item nav-link" id="nav-icons-tab" data-toggle="tab" href="#nav-icons" role="tab" aria-controls="nav-icons" aria-selected="false">ICONS</a>
                </div>
                <div class="wrapper mt-5">
                    <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
                        <div class="row no-gutters">
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_1.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_2.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_3.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_4.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-web" role="tabpanel" aria-labelledby="nav-web-tab">
                        <div class="row no-gutters">
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_1.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_2.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_3.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_4.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-apps" role="tabpanel" aria-labelledby="nav-apps-tab">
                        <div class="row no-gutters">
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_1.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_2.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_3.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_4.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-icons" role="tabpanel" aria-labelledby="nav-icons-tab">
                        <div class="row no-gutters">
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_1.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_2.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_3.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="../../../img/pj_4.png" alt="" class="w-100 d-block">
                                <p class="text text--color--blue_02 title title--sub">isometric presfective</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>            <div class="actions mt-3 col-12 text-center mb-5">
                <button class="btn btn--solid btn--solid--green text text--color--white">load more projects</button>
            </div>
        </div>
    </main>
</section>
