

<section class="s-services ">
    <main class="container">
        <div class="row">
            <h2 class="col-12 title title--principal text text--color--white">SERVICES WE PROVIDE</h2>
            <p class="col-12 col-lg-6 m-lg-auto text text--into text--color--white text-center">We are working with both individuals and businesses from all over the globe to create awesome websites and applications.</p>
            <div class="col-12 mt-3">
                <div class="row">
                    <div class="b-services--item col-12 col-md-6 col-lg-3 text-center mb-3">
                            <img src="../../../img/ico_flag.png" alt="">
                            <h3 class="title title--sub text text--color--white mt-3">Brand</h3>
                            <p class="text text--color--white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                    </div>                    <div class="b-services--item col-12 col-md-6 col-lg-3 text-center mb-3">
                            <img src="../../../img/ico_pencil.png" alt="">
                            <h3 class="title title--sub text text--color--white mt-3">Design</h3>
                            <p class="text text--color--white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                    </div>                    <div class="b-services--item col-12 col-md-6 col-lg-3 text-center mb-3">
                            <img src="../../../img/ico_engine.png" alt="">
                            <h3 class="title title--sub text text--color--white mt-3">development</h3>
                            <p class="text text--color--white">At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium.</p>
                    </div>                    <div class="b-services--item col-12 col-md-6 col-lg-3 text-center mb-3">
                            <img src="../../../img/ico_rocket.png" alt="">
                            <h3 class="title title--sub text text--color--white mt-3">rocket science</h3>
                            <p class="text text--color--white">Et harum quidem rerum est et expedita distinctio. Nam libero tempore.</p>
                    </div>                </div>
            </div>
        </div>
    </main>
</section>
