

<section class="s-skills ">
    <main class="container">
        <div class="row">
            <h2 class="col-12 title title--principal text text--color--blue_02">WE GOT SKILLS!</h2>
            <p class="col-12 col-lg-6 m-lg-auto text text--into text--color--blue_02 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="col-12 mt-3 skill-box">
                <div class="row skills-circle">
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        
                        <li data-percent="90" class="b-skill b-skill--blue">
                            <span class="bar-circle-right"></span>
                            <span class="bar-circle-left"></span>
                            <span class="bar-circle-cover"></span>
                            <b></b>
                        </li>
                            <p class="text text--color--blue_02 title title--sub">web design</p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        
                        <li data-percent="75" class="b-skill b-skill--pink">
                            <span class="bar-circle-right"></span>
                            <span class="bar-circle-left"></span>
                            <span class="bar-circle-cover"></span>
                            <b></b>
                        </li>
                            <p class="text text--color--blue_02 title title--sub">html / CSS</p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        
                        <li data-percent="70" class="b-skill b-skill--green">
                            <span class="bar-circle-right"></span>
                            <span class="bar-circle-left"></span>
                            <span class="bar-circle-cover"></span>
                            <b></b>
                        </li>
                            <p class="text text--color--blue_02 title title--sub">graphic design</p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        
                        <li data-percent="85" class="b-skill b-skill--orange">
                            <span class="bar-circle-right"></span>
                            <span class="bar-circle-left"></span>
                            <span class="bar-circle-cover"></span>
                            <b></b>
                        </li>
                            <p class="text text--color--blue_02 title title--sub">ui / ux</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>
