

<section class="s-team ">
    <main class="container">
        <div class="row">
            <h2 class="col-12 title title--principal text text--color--blue_02">MEET OUR BEAUTIFUL TEAM</h2>
            <p class="col-12 text text--into text--color--blue_02 text-center">We are a small team of designers and developers, who help brands with big ideas.</p>
            <div class="col-12 mt-3">
                <div class="row">
                    <div class="b-team--item col-12 col-md-6 col-lg-3 text-center mb-5 mb-lg-2">
                            <img src="../../../img/face_1.png" alt="">
                            <h3 class="title title--sub text text--color--blue_02 mt-3">Anne hathaway</h3>
                            <h3 class="text text--color--blue_01_light mb-3">CEO / Markiting Guru</h3>
                            <p class="text text--color--blue_02 px-md-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                        <div class="c-social--btn ">
                            <a href="" class="btn btn--icon"><i class="icon fab fa-facebook-f"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-twitter"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-instagram"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-linkedin-in"></i></a>
                        </div></div>                    <div class="b-team--item col-12 col-md-6 col-lg-3 text-center mb-5 mb-lg-2">
                            <img src="../../../img/face_2.png" alt="">
                            <h3 class="title title--sub text text--color--blue_02 mt-3">kate upton</h3>
                            <h3 class="text text--color--blue_01_light mb-3">Creative Director</h3>
                            <p class="text text--color--blue_02 px-md-4">Duis aute irure dolor in in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat non diam proident.</p>
                        <div class="c-social--btn ">
                            <a href="" class="btn btn--icon"><i class="icon fab fa-facebook-f"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-twitter"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-instagram"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-linkedin-in"></i></a>
                        </div></div>                    <div class="b-team--item col-12 col-md-6 col-lg-3 text-center mb-5 mb-lg-2">
                            <img src="../../../img/face_3.png" alt="">
                            <h3 class="title title--sub text text--color--blue_02 mt-3">olivia wilde</h3>
                            <h3 class="text text--color--blue_01_light mb-3">Lead Designer</h3>
                            <p class="text text--color--blue_02 px-md-4">Nemo enim ipsam voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem nesciunt.</p>
                        <div class="c-social--btn ">
                            <a href="" class="btn btn--icon"><i class="icon fab fa-facebook-f"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-twitter"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-instagram"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-linkedin-in"></i></a>
                        </div></div>                    <div class="b-team--item col-12 col-md-6 col-lg-3 text-center mb-5 mb-lg-2">
                            <img src="../../../img/face_4.png" alt="">
                            <h3 class="title title--sub text text--color--blue_02 mt-3">ashley greene</h3>
                            <h3 class="text text--color--blue_01_light mb-3">SEO / Developer</h3>
                            <p class="text text--color--blue_02 px-md-4">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                        <div class="c-social--btn ">
                            <a href="" class="btn btn--icon"><i class="icon fab fa-facebook-f"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-twitter"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-instagram"></i></a>
                            <a href="" class="btn btn--icon"><i class="icon fab fa-linkedin-in"></i></a>
                        </div></div>                </div>
            </div>
        </div>
    </main>
</section>
