<section class="hero {{custom_class}}">
    <main class="container">
        <div class="row">
            <h2 class="title title--hero text text--color--white">Hi there! We are the new kids on the block and we build awesome websites and mobile apps.</h2>
            <div class="actions mt-3 col-12 text-center">
                <button class="btn btn--solid btn--solid--orange text text--color--white">work with us!</button>
            </div>
        </div>
    </main>
</section>