<section class="s-team {{custom_s_class}}">
    <main class="container">
        <div class="row">
            <h2 class="col-12 title title--principal text text--color--blue_02">MEET OUR BEAUTIFUL TEAM</h2>
            <p class="col-12 text text--into text--color--blue_02 text-center">We are a small team of designers and developers, who help brands with big ideas.</p>
            <div class="col-12 mt-3">
                <div class="row">
                    {{> @board-team custom_b_class="col-12 col-md-6 col-lg-3 text-center mb-5 mb-lg-2" image_b_team="../../../img/face_1.png" title_b_team="Anne hathaway" position_b_team="CEO / Markiting Guru" content_b_team="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna."}}
                    {{> @board-team custom_b_class="col-12 col-md-6 col-lg-3 text-center mb-5 mb-lg-2" image_b_team="../../../img/face_2.png" title_b_team="kate upton" position_b_team="Creative Director" content_b_team="Duis aute irure dolor in in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat non diam proident."}}
                    {{> @board-team custom_b_class="col-12 col-md-6 col-lg-3 text-center mb-5 mb-lg-2" image_b_team="../../../img/face_3.png" title_b_team="olivia wilde" position_b_team="Lead Designer" content_b_team="Nemo enim ipsam voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem nesciunt."}}
                    {{> @board-team custom_b_class="col-12 col-md-6 col-lg-3 text-center mb-5 mb-lg-2" image_b_team="../../../img/face_4.png" title_b_team="ashley greene" position_b_team="SEO / Developer" content_b_team="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam."}}
                </div>
            </div>
        </div>
    </main>
</section>