<section class="s-services {{custom_s_class}}">
    <main class="container">
        <div class="row">
            <h2 class="col-12 title title--principal text text--color--white">SERVICES WE PROVIDE</h2>
            <p class="col-12 col-lg-6 m-lg-auto text text--into text--color--white text-center">We are working with both individuals and businesses from all over the globe to create awesome websites and applications.</p>
            <div class="col-12 mt-3">
                <div class="row">
                    {{> @board-services custom_b_class="col-12 col-md-6 col-lg-3 text-center mb-3" title_b_service="Brand" image_b_service="../../../img/ico_flag.png" content_b_service="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh."}}
                    {{> @board-services custom_b_class="col-12 col-md-6 col-lg-3 text-center mb-3" title_b_service="Design" image_b_service="../../../img/ico_pencil.png" content_b_service="Sed ut perspiciatis unde omnis iste natus error sit voluptatem"}}
                    {{> @board-services custom_b_class="col-12 col-md-6 col-lg-3 text-center mb-3" title_b_service="development" image_b_service="../../../img/ico_engine.png" content_b_service="At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium."}}
                    {{> @board-services custom_b_class="col-12 col-md-6 col-lg-3 text-center mb-3" title_b_service="rocket science" image_b_service="../../../img/ico_rocket.png" content_b_service="Et harum quidem rerum est et expedita distinctio. Nam libero tempore."}}
                </div>
            </div>
        </div>
    </main>
</section>