.menu {
    position: relative;
    @include breakpoint(tablet) { position: static !important;}
    &__nav {
        @extend %transform;
        position: absolute;
        right: -1rem;
        top: -20rem;
        padding: 1rem;
        list-style: none;
        background: $purple;
        @include breakpoint(tablet) {
            right: initial;
            left: -120%;
            width: 100%;
            top: 100%;
        }
        @include breakpoint(tablet-port) { position: static;}
    }
    .hamburger {
        &-inner {
            background-color: $yellow; 
            &:before,
            &:after { background-color: $yellow; }
        }
        &.is {
            &-active {
                .hamburger {
                    &-inner { background-color: $yellow_dark;}
                }
            }
        }
    }
}


.open {
    &-menu {
        .menu {
            &__nav { 
                top: 100%;
                @include breakpoint(tablet) { left: -1.5rem;}
            }
        }
    }
}