<footer class="s-footer {{custom_s_class}}">
    <main class="container">
        <div class="row justify-content-center py-4">
            <a href="" class="h3 btn btn--link text text--color--white">Facebook</a>
            <a href="" class="h3 btn btn--link text text--color--white">Twitter</a>
            <a href="" class="h3 btn btn--link text text--color--white">Google+</a>
            <a href="" class="h3 btn btn--link text text--color--white">Linkedin</a>
            <a href="" class="h3 btn btn--link text text--color--white">Behance</a>
            <a href="" class="h3 btn btn--link text text--color--white">Dribble</a>
            <a href="" class="h3 btn btn--link text text--color--white">Github</a>
        </div>
    </main>
</footer>