<section class="s-aboutus {{custom_s_class}}">
    <main class="container">
        <div class="row">
            <h2 class="col-12 title title--principal text text--color--white">what people say about us!</h2>
            <p class="col-12 col-lg-6 m-lg-auto  text text--into text--color--white text-center">Our clients love us!</p>
            <div class="col-12 mt-3">
                <div class="row">
                    {{> @board-aboutus custom_b_class="col-12 col-md-6 d-flex flex-wrap text-center text-lg-left mb-5" image_b_aboutus="../../../img/circulo.png" content_b_aboutus="“Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.”" name_b_aboutus="chanel iman" position_b_aboutus="CEO of Pinterest"}}
                    {{> @board-aboutus custom_b_class="col-12 col-md-6 d-flex flex-wrap text-center text-lg-left mb-5" image_b_aboutus="../../../img/circulo.png" content_b_aboutus="“Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.”" name_b_aboutus="ADRIANA LIMA" position_b_aboutus="CEO of Pinterest"}}
                    {{> @board-aboutus custom_b_class="col-12 col-md-6 d-flex flex-wrap text-center text-lg-left mb-5" image_b_aboutus="../../../img/circulo.png" content_b_aboutus="“Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.”" name_b_aboutus="anne hathaway" position_b_aboutus="CEO of Pinterest"}}
                    {{> @board-aboutus custom_b_class="col-12 col-md-6 d-flex flex-wrap text-center text-lg-left mb-5" image_b_aboutus="../../../img/circulo.png" content_b_aboutus="“Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.”" name_b_aboutus="emma stone" position_b_aboutus="CEO of Pinterest"}}
                </div>
            </div>
        </div>
    </main>
</section>