{{> @header custom_class="container-fluid bg--color--purple"}}
{{> @hero custom_class="container-fluid d-flex align-items-center bg--color--purple"}}
{{> @s-services custom_s_class="container-fluid bg--color--green pb-5"}}
{{> @s-team custom_s_class="container-fluid bg--color--ice pb-5"}}
{{> @s-skills custom_s_class="container-fluid pb-5"}}
{{> @s-portfolio custom_s_class="container-fluid bg--color--yellow pb-md-5"}}
{{> @s-aboutus custom_s_class="container-fluid bg--color--pink pb-md-5"}}
{{> @s-contact custom_s_class="container-fluid bg--color--blue_01 pb-5 "}}
{{> @s-footer custom_s_class="container-fluid bg--color--blue_02"}}
