@font-face {
  font-family: 'DaciaSpirit-Light';
  src: url('DaciaSpirit-Light.woff') format('woff'),
       url('DaciaSpirit-Light.ttf') format('truetype'),
       url('DaciaSpirit-Light.svg#DaciaSpirit-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DaciaSpirit-Light_V1200';
  src: url('DaciaSpirit-Light_V1200.eot');
  src: url('DaciaSpirit-Light_V1200.woff2') format('woff2'),
       url('DaciaSpirit-Light_V1200.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'DaciaSpirit-Regular';
  src: url('DaciaSpirit-Regular.woff') format('woff'),
       url('DaciaSpirit-Regular.ttf') format('truetype'),
       url('DaciaSpirit-Regular.svg#DaciaSpirit-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DaciaSpirit-Regular_V1200';
  src: url('DaciaSpirit-Regular_V1200.eot');
  src: url('DaciaSpirit-Regular_V1200.woff2') format('woff2'),
       url('DaciaSpirit-Regular_V1200.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CoreMellow-Regular';
  src: url('CoreMellow-Regular.eot');
  src: url('CoreMellow-Regular.woff2') format('woff2'),
       url('CoreMellow-Regular.woff') format('woff'),
       url('CoreMellow-Regular.ttf') format('truetype'),
       url('CoreMellow-Regular.svg#CoreMellow-Regular') format('svg'),
       url('CoreMellow-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

