<section class="s-skills {{custom_s_class}}">
    <main class="container">
        <div class="row">
            <h2 class="col-12 title title--principal text text--color--blue_02">WE GOT SKILLS!</h2>
            <p class="col-12 col-lg-6 m-lg-auto text text--into text--color--blue_02 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="col-12 mt-3 skill-box">
                <div class="row skills-circle">
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        {{> @board-skill custom_b_class="b-skill--blue" data_skills="90" content_b_skill="web design"}}
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        {{> @board-skill custom_b_class="b-skill--pink" data_skills="75" content_b_skill="html / CSS"}}
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        {{> @board-skill custom_b_class="b-skill--green" data_skills="70" content_b_skill="graphic design"}}
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        {{> @board-skill custom_b_class="b-skill--orange" data_skills="85" content_b_skill="ui / ux"}}
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>