<header class="header {{custom_class}}">
    <div class="container">
        <main class="row justify-content-between position-relative">
            <div class="brand col-7 d-flex align-items-center">
                <a href="#" class="btn btn--reset p-2"><img src="../../../img/logo.png" alt=""></a>
            </div>
            {{> @navegation custom_class="col-5"}}
        </main>
    </div>
</header>