<section class="s-porfolio {{custom_s_class}}">
    <main class="container">
        <div class="row">
            <h2 class="col-12 title title--principal text text--color--blue_02">our porfolio!</h2>
            <p class="col-12 col-lg-6 m-lg-auto  text text--into text--color--blue_02 text-center">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam</p>
            {{> @c-tabs}}
            <div class="actions mt-3 col-12 text-center mb-5">
                <button class="btn btn--solid btn--solid--green text text--color--white">load more projects</button>
            </div>
        </div>
    </main>
</section>