<div class="b-services--item {{custom_b_class}}">
    {{#if image_b_service }}
        <img src="{{image_b_service}}" alt="">
    {{/if}}
    {{#if title_b_service}}
        <h3 class="title title--sub text text--color--white mt-3">{{title_b_service}}</h3>
    {{/if}}
    {{#if content_b_service }}
        <p class="text text--color--white">{{content_b_service}}</p>
    {{/if}}
</div>