//b-skills


.b {
    &-skill {
        &--blue {
            span {
                &.bar {
                    &-circle {
                        &-left { background: $blue_01_light !important;}
                        &-right { background: $blue_01_light !important;}
                    }
                }
            }
        }
        &--pink {
            span {
                &.bar {
                    &-circle {
                        &-left { background: $pink !important;}
                        &-right { background: $pink !important;}
                    }
                }
            }
        }    
        &--green {
            span {
                &.bar {
                    &-circle {
                        &-left { background: $green !important;}
                        &-right { background: $green !important;}
                    }
                }
            }
        }
        &--orange {
            span {
                &.bar {
                    &-circle {
                        &-left { background: $orange !important;}
                        &-right { background: $orange !important;}
                    }
                }
            }
        }       
    }
}

.skill-box {
	.skills-circle {
        li {
            width: 150px;
            height: 150px;
            background-color: $ice;
            border-radius: 50%;
            position: relative;
            display: inline-block;
            overflow: hidden;
            margin: 10px;
            span {
                & ~ b {
                    top: 50%;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    z-index: 1;
                    font-family: $font_01;
                    color: $blue_02;
                    z-index: 1;
                    font-size: 2rem;
                }
                &.bar {
                    &-circle {
                        &-right {
                            @include border-radius(50%);
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 100%;
                            background: blue;
                            clip: rect(0, 75px, 150px, 0);
                        }
                        &-left {
                            @include border-radius(50%);
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 100%;
                            background: blue;
                            clip: rect(0, 75px, 150px, 0);
                            background: $ice;
                        }
                        &-cover {
                            display: block;
                            width: 85%;
                            height: 85%;
                            border-radius: 50%;
                            background-color: white;
                            z-index: 0;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
	}
}
