<div class="b-team--item {{custom_b_class}}">
    {{#if image_b_team }}
        <img src="{{image_b_team}}" alt="">
    {{/if}}
    {{#if title_b_team}}
        <h3 class="title title--sub text text--color--blue_02 mt-3">{{title_b_team}}</h3>
    {{/if}}
    {{#if position_b_team}}
        <h3 class="text text--color--blue_01_light mb-3">{{position_b_team}}</h3>
    {{/if}}
    {{#if content_b_team }}
        <p class="text text--color--blue_02 px-md-4">{{content_b_team}}</p>
    {{/if}}
    {{> @c-social-btn}}
</div>