
<li data-percent="{{data_skills}}" class="b-skill {{custom_b_class}}">
    <span class="bar-circle-right"></span>
    <span class="bar-circle-left"></span>
    <span class="bar-circle-cover"></span>
    <b></b>
</li>
{{#if content_b_skill }}
    <p class="text text--color--blue_02 title title--sub">{{content_b_skill}}</p>
{{/if}}