<div class="b-aboutus--item {{custom_b_class}}">
    <div class="col-12 col-lg-auto mb-3">
        {{#if image_b_aboutus }}
            <img src="{{image_b_aboutus}}" alt="">
        {{/if}}
    </div>
    <div class="col-12 col-lg-8">
        {{#if content_b_aboutus }}
            <p class="text text--color--white text--cita">{{content_b_aboutus}}</p>
        {{/if}}
        {{#if name_b_aboutus}}
            <h3 class="title title--sub text text--color--white text-lg-left mt-3">{{name_b_aboutus}}</h3>
        {{/if}}
        {{#if position_b_aboutus}}
            <p class="text text--color--yellow mb-3">{{position_b_aboutus}}</p>
        {{/if}}
    </div>
</div>