/*
 * silc variable overrides
 *
 */


//  colors

$purple:			#87509c;
$purple_dark:		#643a79;
$green:				#17c2a4;
$green_dark:		#14a58c;
$blue_01:			#3c5499;
$blue_01_dark:		#273a71;
$blue_01_light:		#30bae7;
$blue_01_light_2:	#299ec5;
$blue_02:			#3c4761;
$blue_03:			#344b8e;
$ice:				#e7f1f8;
$ice_dark:			#bdd1df;
$yellow:			#ffdd99;
$yellow_dark:		#ebc985;
$pink:				#d74680;
$orange:			#eb7d4b;
$orange_dark:		#c86a40;
$gray_01:			#393939;


$font_01: 'Titillium Web', sans-serif;
$font_02: 'Roboto', sans-serif;

// artefacts, mixins

%general_shadow {
	box-shadow: 7px 7px 20px 0px rgba(50, 50, 50, 0.32);
	&:hover { box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.5);}
}

%transform {
	transform: transition;
	transition-duration: 0.5s;
}

%transform1s {
	transform: transition;
	transition-duration: 1s;
}

%after-before-bas {
	position: absolute;
	content: " ";
}

%bg-orange {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fa9917+0,ffb718+100 */
	background: #fa9917 !important; /* Old browsers */
	background: -moz-linear-gradient(left, #fa9917 0%, #ffb718 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #fa9917 0%,#ffb718 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #fa9917 0%,#ffb718 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa9917', endColorstr='#ffb718',GradientType=1 ); /* IE6-9 */
}

%bg-blue-vertical {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0d9fdf+0,31b8d5+99 */
	background: rgb(13,159,223); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(13,159,223,1) 0%, rgba(49,184,213,1) 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(13,159,223,1) 0%,rgba(49,184,213,1) 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(13,159,223,1) 0%,rgba(49,184,213,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d9fdf', endColorstr='#31b8d5',GradientType=0 ); /* IE6-9 */
}

%bg-blue-horizontal {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0d9fdf+0,31b8d5+99 */
		background: rgb(13,159,223); /* Old browsers */
		background: -moz-linear-gradient(left, rgba(13,159,223,1) 0%, rgba(49,184,213,1) 99%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(13,159,223,1) 0%,rgba(49,184,213,1) 99%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(13,159,223,1) 0%,rgba(49,184,213,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d9fdf', endColorstr='#31b8d5',GradientType=1 ); /* IE6-9 */
}


@mixin linear-gradient($from, $to) {
	background: $to;
	background: -moz-linear-gradient(top, $from 0%, $to 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
	background: -webkit-linear-gradient(top, $from 0%,$to 100%);
	background: -o-linear-gradient(top, $from 0%,$to 100%);
	background: linear-gradient(to bottom, $from 0%,$to 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}

@mixin border-radius($radius) { 
	 -webkit-border-radius: $radius;
		-moz-border-radius: $radius; 
			 border-radius: $radius;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
    	    transform: $transforms;
}


@mixin breakpoint($point) {
	@if $point == mobile {
	  @media (min-width: 500px) { @content ; }
   }
	@else if $point == tablet {
	  @media (min-width: 600px) { @content ; }
   }
	@else if $point == tablet-port {
	  @media (min-width: 900px) { @content ; }
   }
	@else if $point == desktop {
	  @media (min-width: 1115px)  { @content ; }
   }
    @else if $point == big-screen {
	  @media (min-width: 1200px)  { @content ; }
   }
    @else if $point == max-mobile {
	  @media (max-width: 500px)  { @content ; }
   }
 }

// fonts

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Titillium+Web:300,400,700');
@import url('https://use.fontawesome.com/releases/v5.4.1/css/all.css');


// generals

body {
	font-family: $font_01;
	font-size: 16px;
}

//backgrounds
.bg {
	&--color {
		&--purple { background-color: $purple;}
		&--purple_dark { background-color: $purple_dark;}
		&--green { background-color: $green;}
		&--blue_01 { 
			background-color: $blue_01;
			.form {
				&-control {
					border-color: $blue_01_dark;
					background-color: $blue_01_dark;
					color: white;
				}
			}
		}
		&--blue_01_dark { background-color: $blue_01_dark;}
		&--blue_01_light { background-color: $blue_01_light;}
		&--blue_02 { background-color: $blue_02;}
		&--blue_03 { background-color: $blue_03;}
		&--ice { background-color: $ice;}
		&--ice_dark { background-color: $ice_dark;}
		&--yellow { background-color: $yellow;}
		&--yellow_dark { background-color: $yellow_dark;}
		&--pink { background-color: $pink;}
		&--orange { background-color: $orange;}
		&--orange_dark { background-color: $orange_dark;}
		&--white { background-color: white;}
		&--black { background-color: black;}
	}
}

//text
.text {
	font-family: $font_02;
	&.text {
		&--color {
			&--purple { color: $purple;}
			&--purple_dark { color: $purple_dark;}
			&--green { color: $green;}
			&--blue_01 { color: $blue_01;}
			&--blue_01_dark { color: $blue_01_dark;}
			&--blue_01_light { color: $blue_01_light;}
			&--blue_02 { color: $blue_02;}
			&--ice { color: $ice;}
			&--ice_dark { color: $ice_dark;}
			&--yellow { color: $yellow;}
			&--yellow_dark { color: $yellow_dark;}
			&--pink { color: $pink;}
			&--orange { color: $orange;}
			&--orange_dark { color: $orange_dark;}
			&--white { color: white;}
			&--black { color: black;}
		}
		&--into {
			font-size: 1.2rem;
			font-family: $font_01;
		}
		&--cita {
			font-size: 1.2rem;
			font-style: italic;
			font-weight: 100;
		}
	}
}


//title
.title {
	font-family: $font_01;
	text-align: center;
	flex: 0 0 100%;
	&.title {
		&--principal {
			margin-bottom: 2rem;
			margin-top: 4rem;
			font-size: 2.2rem;
			text-transform: uppercase;
			position: relative;
			padding-bottom: 1rem;
			@include breakpoint(desktop) { margin-top: 6rem;}
			&:before {
				@extend %after-before-bas;
				height: 3px;
				width: 5rem;
				top: 100%;
				left: 50%;
				transform: translate(-50%, 0);
				background: rgba(black, 0.15);
			}
		}
		&--sub {
			text-transform: uppercase;
			font-size: 1.5rem;
			margin-bottom: 1rem;
		}
		&--hero {
			font-size: 2.5rem;
			text-align: center;
			font-family: $font_01;
		}
	}
}



//buttons
.btn {
	@extend %transform;	
	&.btn {
		&--link {
			@include border-radius(0);
			&:hover,
			&.active {
				background-color: $purple_dark;
				color: white;
			}
		}
		&--solid {
			padding: 1rem 2rem;
			font-family: $font_01;
			text-transform: uppercase;
			border: {
				top: none;
				left: none;
				right: none;
				bottom: 0.3rem solid;
			}
			&:hover { background-color: $orange_dark;}
			&--orange {
				background-color: $orange;
				border-bottom-color: $orange_dark; 
			}
			&--yellow {
				background-color: $yellow;
				border-bottom-color: $orange_dark; 
				color: $blue_01_dark;
				&:hover { background-color: $yellow_dark;}
			}
			&--green {
				background-color: $green;
				border-bottom-color: $green_dark; 
				color: white;
				&:hover { background-color: $green_dark;}
			}
			&--blue {
				background-color: $blue_01_light;
				border-bottom-color: $blue_01_light_2; 
				color: white;
				&:hover { background-color: $blue_01_light_2;}
			}
		}
		&--icon {
			@include border-radius(100%);
			background: $ice_dark;
			margin-right: 0.3rem;
			&:last-child { margin-right: 0;}
			&:hover { background: $orange_dark;}
			.icon { color: white;}
		}
	}
	&.nav {
		&-item {
			&.nav {
				&-link {
					padding: 0.7rem 1.5rem;
					font-family: $font_01;
					text-transform: uppercase;
					background-color: $yellow_dark;
					color: $blue_01_dark;
					flex: 0 0 auto;
					border: none;
					margin-right: 0.5rem;
					margin-bottom: 0.5rem;
					&:last-child { margin-right: 0;}
				}
			}
		}
	}
}



// footer 
.s-footer {
	.btn {
		font-size: 1.3rem;
		margin-bottom: 0;
		&:hover { 
			color: $blue_01_light;
			background: none;
		}
	}
}